.product-container{
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  position: relative;
  /* padding: 50px; */


  width: 450px;
  height: 400px;
  /* background-color: gray; */
  /* background-color: #f5fbfd; */
  /* background-color: rgba(170, 170, 170, 0.822); */
  /* background-color: #f5f6f6; */

  gap: 25px;


}

.product-container:hover .product-img{
  scale:1.1;
}

.product-info{
  display: flex;
  flex: 1;
  /* justify-content: space-between; */
  justify-content: space-between;
  /* padding: 20px; */
}

.product-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;


}


.product-title{
  font-weight: 600;
  font-size: 20px;
}

.product-top{
  background-color: #f5f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  border-radius: 10px;
}

.product-image {
  
  height: 250px; 
  width: 250px;
  display: flex;
  justify-items: center;
  align-items: center;

  position: relative;
  align-self: center;
}

.product-img{
  margin: auto;
  transition: all 0.5s ease;

}
.product-image:hover .product-info{
  opacity: 1;
}

/* .product-info {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
} */


.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.product-img {
  height: 75%;
  z-index: 2;
}

.product-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right:0;
  /* color: black; */
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.5s ease;
}

.product-icon:hover {
  background-color: #e9f5f5;
  transform: scale(1.1);
}

.heart-icon{
  padding-top: 5px;
  scale:0.7;
  transition: all 0.5s ease;
}

