.pl-title {
  margin: 20px;
}
.pl-container{
  width: 100%;
}
.pl-filter-container {
  display: flex;
  justify-content: space-between;
}

.pl-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.pl-filter-text {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.pl-select {
  padding: 10px;
  margin-right: 20px;
}
