.wishlist-wrapper {
  padding: 20px;
}

.wishlist-title {
  font-weight: 300;
  text-align: center;
}

.wishlist-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.wishlist-top-button {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

.wishlist-top-text {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 10px;
}

.wishlist-bottom {
  display: flex;
  justify-content: space-between;
}

.wishlist-info {
  flex: 3;
}
.wishlist-product {
  display: flex;
  justify-content: space-between;
}

.wishlist-product-detail {
  flex: 2;
  display: flex;
}

.wishlist-image {
  width: 200px;
}

.wishlist-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wishlist-product-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.wishlist-price-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wishlist-product-amount-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wishlist-product-name{
  font-size: 21px;
  font-weight: 500;
}

.wishlist-product-amount {
  font-size: 24px;
  margin: 5px;
}

.wishlist-product-price {
  font-size: 30px;
  font-weight: 200;
}

.hr {
  background-color: #eee;
  border: none;
  margin-top: 15px;
  height: 1px;
}


.wishlist-button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 200px;
  font-size: 32px;
}



.animation-exit-active{
  /* display: none; */
  opacity: 0;
  transition: opacity 700ms ease-out;
}