.product-container {
  display: flex;
  /* flex-direction: column; */
  margin: 15px 0px;
  position: relative;
  flex-shrink: 1;

  height: 300px;
  width: 20%;
  max-width: 450px;
  min-width: 300px;
  object-fit: contain;
}

.product-info {
  display: flex;
  flex: 1;
  justify-content: space-between;
}