.catItem-container {
  flex: 1;
  margin: 3px;
  /* height: 70vh; */
  position: relative;
  transition: all 1s;
  border-radius: 10px;
  overflow: hidden;
  
}


.catItem-container:hover .catItem-image{
  opacity: 0.6;
}

.catItem-container:hover {
  background-color: black;
  
}

.catItem-container:hover .catItem-button{
  opacity: 1;
}

.catItem-container:hover .catItem-title{
  font-size: 35px;
}

.catItem-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: contain; */
  /* object-position: 70% 0%; */

}

.catItem-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catItem-button{
  opacity: 0;
  border: none;
  padding: 10px;
  background-color: white;
  color: gray;
  cursor: pointer;
  font-weight: 600;
}

.catItem-title {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}
