.products-container{
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
}

.loading-container{
  margin: auto;
}